.delice
{
	width: 95%;
	height: auto;
	margin-bottom: 25%;
	box-sizing: border-box;
}

.delice,h2
{
	font-size: 1em;
	margin-bottom: 45px;
}

.delice p
{
	color: black;
	font-family: 'caveat-regular';
	font-weight: bold;
}

.soulignement
{
	font-family: 'caveat-regular';
}

h4
{
	margin-left: 5px;
}

@media all and (min-width: 850px)
{
	.delice
	{
		width: 1185px;
		height: 1680px;
		margin: auto;
		font-size: 2em;
		margin-top: 8%;
		margin-bottom: 10%;
		padding: 0px 70px;
	}

	.delice h2
	{
		margin-bottom: 90px;
		font-size: 2.8em;
	}

	.repas,.prix,.dessert,p
	{
		margin: 5px 0px ;
		font-size: 1em;
	}

	.intitule p
	{
		font-size: 1em;
		margin: 0; 
		font-weight: bold;
	}

	.espace
	{
		margin-top: 5%;
		margin-bottom: 5%;
	}
}