.note
{
	width: 80%;
	height: auto;
	margin-bottom: 25%;
	padding: 20px;
	box-sizing: border-box;
}

.note,h2
{
	font-size: 1em;
}

.note p
{

	color: black;
}

ul
{
	padding: 0;
}

.prix
{
	padding-right: 1%;
}


.footer-menu
{
	display: flex;
	justify-content: center;
	align-items: baseline;
}

h4
{
	margin-left: 5px;
}

@media all and (min-width: 800px)
{
	.note
	{
		width: 1185px;
		height: 1680px;
		margin: 195px 158px 135px;
		font-size: 3em;
		margin-bottom: 20%;
		padding: 0px 70px;
	}
}