@font-face
{
	font-family: 'Kalam-Regular';
	src: url('../ressources/font/Kalam-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'caveat-brush';
	src: url('../ressources/font/caveatbrush-regular.ttf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

.note
{
	width: 95%;
	height: auto;
	margin-bottom: 25%;
	box-sizing: border-box;
}

.note,h2
{
	font-size: 1em;
}

.note p
{
	font-family: 'Kalam-Regular';
	color: black;
}

i
{
	background: #f05060;
    background: linear-gradient(86deg, #f05060 30%, #f6916a 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1, 1.2);
}

.soulignement 
{
	font-family: 'caveat-brush';
}

ul
{
	padding: 0;
}


.prix
{
	padding-right: 1%;
}


.footer-menu
{
	display: flex;
	justify-content: center;
	align-items: baseline;
}

h4
{
	margin-left: 5px;
}

@media all and (min-width: 850px)
{
	.note
	{
		width: 1185px;
		height: 1680px;
		margin: auto;
		font-size: 1.8em;
		margin-top: 8%;
		margin-bottom: 10%;
		padding: 0px 70px;
	}

	.note h2
	{
		font-size: 2.8em;
	}
	.repas,.prix,.dessert,p
	{
		margin: 5px 0px ;
		font-size: 1em;
	}

	.intitule p
	{
		font-size: 1em;
		margin: 0; 
		font-weight: bold;
	}

	.espace
	{
		margin-top: 5%;
		margin-bottom: 5%;
	}
	
	.espace
	{
		margin-top: 5%;
		margin-bottom: 5%;
	}

	h4
	{
		font-size: 2em;
		margin: 15px 15px;
	}