.delice
{
	width: 80%;
	height: auto;
	margin-bottom: 25%;
	padding: 20px;
	box-sizing: border-box;
}

.delice,h2
{
	font-size: 1em;
	margin-bottom: 45px;
}

.delice p
{
	color: black;
	font-family: 'caveat-regular';
}

.soulignement
{
	font-family: 'caveat-regular';
}

h4
{
	margin-left: 5px;
}

@media all and (min-width: 800px)
{
	.delice
	{
		width: 1185px;
		height: 1680px;
		margin: auto;
		font-size: 3em;
		margin-top: 8%;
		margin-bottom: 10%;
		padding: 0px 70px;
	}

	.delice h2
	{
		margin-bottom: 90px;
	}
}