@font-face
{
	font-family: 'Kalam-Regular';
	src: url('../ressources/font/Kalam-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'caveat-brush';
	src: url('../ressources/font/caveatbrush-regular.ttf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

.note
{
	width: 100%;
	height: auto;
	margin-bottom: 25%;
	box-sizing: border-box;
}

.note,h2
{
	font-size: 1em;
}

.note p
{
	font-family: 'Kalam-Regular';
	color: black;
}

.soulignement 
{
	font-family: 'caveat-brush';
}

ul
{
	padding: 0;
}


.prix
{
	padding-right: 1%;
}


.footer-menu
{
	display: flex;
	justify-content: center;
	align-items: baseline;
}

h4
{
	margin-left: 5px;
}

@media all and (min-width: 1200px)
{
	.note
	{
		width: 1185px;
		height: 1680px;
		margin: auto;
		font-size: 3em;
		margin-top: 8%;
		margin-bottom: 10%;
		padding: 0px 70px;
	}
}