.delice
{
	width: 80%;
	height: auto;
	margin-bottom: 25%;
	padding: 20px;
	box-sizing: border-box;
}

.delice,h2
{
	font-size: 1em;
	margin-bottom: 45px;
}

.delice p
{
	color: black;
}

h4
{
	margin-left: 5px;
}

@media all and (min-width: 800px)
{
	.delice
	{
		width: 1185px;
		height: 1680px;
		margin: 195px 158px 135px;
		font-size: 3em;
		margin-bottom: 20%;
	}

	.delice,h2
	{
		margin-bottom: 90px;
	}
}