/* couleur backgroup and h2
header et footer fond: 87,156,135
header et footer lettre: 252,202,70

La note enchantée:
Fond: #fde1dd
		rgb 253,225,221
texte: #3c1218
		rgb 60,18,24

Le chic à la française: 
Fond: #fff5fe
		rgb 255,245,254 
Menu: #c77412
		rgb 199,116,18

Le délice des papilles:
fond: #edefef
		rgb 237,239,239
Menu: #0022db
		rgb 0,34,219

La palette du goût:
Fond: #fdfffd
		rgb 253,255,253
Texte: #72bf56
		rgb 114,191,86 

color border top and bottom:
		#a1c181
		rgb 161 193 129
*/
/*********************************************\
		 		police d'ecriture
\*********************************************/
@font-face
{
	font-family: 'devonshire';
	src: url('../ressources/font/Devonshire-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'croissant';
	src: url('../ressources/font/CroissantOne-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'dancing';
	src: url('../ressources/font/DancingScript-Regular.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'kaushan';
	src: url('../ressources/font/KaushanScript-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'tinos';
	src: url('../ressources/font/Tinos-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face
{
	font-family: 'caveat-regular';
	src: url('../ressources/font/caveat-regular.ttf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'shortstack';
	src: url('../ressources/font/ShortStack-Regular.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}


/*********************************************\
\*********************************************/
body
{
	font-family: Arial, Courier New, Georgia, Times New Roman, Verdana, sans-serif;
	font-size: 1.2em;
	width: 100%;
	height: auto;
	margin: 0;
}	

.header
{	
	width: 100%;
	height: 100px;
	font-size: 1.2em;
	background-color: rgb(87,156,135);
	color: rgb(252,202,70);
	text-align: center;
	margin-bottom: 10%;
	border-bottom: 2px solid #a1c181;
}

h1
{
	width: 100%;
	height: auto;
	margin: 0;
	padding-top: 20px;
}

a
{
	text-decoration: none;
	color: currentColor;
}

.menu
{
	width: 90%;
	margin: auto;
}

.row
{ 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.row,h2
{
	margin-top: 4%;
	font-size: 1.1em;
}

.lien
{
	font-size: 1em;
}

.effets i
{
	background: #f05060;
    background: linear-gradient(86deg, #f05060 30%, #f6916a 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1, 1.2);
}
/*********************************************\
		 			Menu 1
\*********************************************/
.note 
{
	background-color: rgb(252,223,219);
	color: rgb(60,18,24);
	text-align: center;
	width: 44%;
	height: 300px;
	margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: devonshire;
}

.font-M1
{
	font-family: shortstack;
}
/*********************************************\
		 			Menu 2
\*********************************************/
.chic
{
	background-color: rgb(255,245,254);
	color: rgb(199,116,18);
	text-align: center;
	width: 44%;
	height: 300px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin-bottom: 40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: croissant;
}

.font-M2
{
	font-family: tinos;
	font-weight: bold;
}

.chic div h2
{
	background: #c67412;
    background: -webkit-linear-gradient(315deg, #6e4ccc 0%, #a56799 60%, #c67412 80%);
    background: -o-linear-gradient(315deg, #6e4ccc 0%, #a56799 60%, #c67412 80%);
    background: linear-gradient(315deg, #6e4ccc 0%, #a56799 60%, #c67412 80%);
    -webkit-background-clip: text;
    color: transparent;
}
/*********************************************\
		 			Menu 3
\*********************************************/
.delice
{
	background-color: rgb(237,239,239);
	color: rgb(0,34,219);
	text-align: center;
	width: 44%;
	height: 300px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin-bottom: 40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: dancing;
}

.delice div h2
{
	background: #0228dd;
    background: linear-gradient(315deg, #0228dd 0%, #0670f3 50%, #229df9 80%);
    background: -webkit-linear-gradient(315deg, #0228dd 0%, #0670f3 50%, #229df9 80%);
    background: -moz-linear-gradient(315deg, #0228dd 0%, #0670f3 50%, #229df9 80%);
    -webkit-background-clip: text;
    color: transparent;
}
/*********************************************\
		 			Menu 4
\*********************************************/
.palette
{
	background-color: rgb(253,255,253);
	color: rgb(114,191,86);
	text-align: center;
	width: 44%;
	height: 300px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin-bottom: 40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: kaushan;
}

.palette div h2
{
	 background: #3d923a;
     background: linear-gradient(315deg, #3d923a 0%, #89d262 40%, #beff7f 60%);
     background: -webkit-linear-gradient(315deg, #3d923a 0%, #89d262 40%, #beff7f 60%);
     background: -moz-linear-gradient(315deg, #3d923a 0%, #89d262 40%, #beff7f 60%);
     -webkit-background-clip: text;
    color: transparent;
}
/*********************************************\
		 		prochainement
\*********************************************/
.prochainement
{
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 20%;
}

.bientot
{
	background-color: rgb(87,156,135);
	color: rgb(252,202,70);
	text-align: center;
	width: 40%;
	height: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: center;	
}

.bientot p 
{
	display: flex;
	align-items: center;	
	font-size: 1em;
}
/*********************************************\
		 		   footer
\*********************************************/
.pied 
{
	width: 100%;
	height: 50px;
	background-color: rgb(87,156,135);
	color: rgb(252,202,70);
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 10px 20px;
	font-size: 1em;
	position: fixed;
	bottom: 0;
	border-top: 2px solid #a1c181;
	box-sizing: border-box;
}
/*********************************************\
		css pour l'ensemble des menus	
\*********************************************/
.repas,.prix,.dessert,p
{
	margin: 5px 0px ;
	font-size: 0.9em;
}

ul 
{
	line-height: 2;
	font-size: 0.8em;
	padding: 0 30px;
}

ul li
{
	width: 	100%;
	display: flex;
	justify-content: space-between;
	list-style-type: none;	
}

.repas
{
	text-align: left;
	width: 90%;
}

.prix .dessert
{
	text-align: right;
	width: 10%;
}

.intitule
{
	display: flex;
	justify-content: space-between; 
}

.intitule p
{
	font-size: 1em;
	margin: 0; 
	font-weight: bold;
}

.photo
{
	width: 35%;
}

img
{
	width: 100%;
	height: auto;
}

@media all and (min-width: 850px)
{
	.header
	{
		width: 100%;
		height: 200px;
		font-size: 3em;
		margin: 0;
	}

	.menu
	{
		width: 80%;
	}

	.titre-menu
	{
		margin-bottom: 80px;
	}

	h2
	{
		margin: 0;
	}

	ul
	{
		padding: 0 120px;
	}
	
	.row
	{ 
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.row,h2
	{
		font-size: 1.6em;
	}
	
	.francaise
	{
		font-size: 1.2em;
	}
	.lien
	{
		font-size: 2em;
		margin-top: 5%;
	}
	/*****************************************\
	   			effet de soulignement 	
	\*****************************************/
	.soulignement
	{
		color: inherit;
		text-decoration: none;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0 ,0, 0.5) 4px, transparent 5px) no-repeat;
		background-size: 0 100%;
		transition:  background-size .3s;
	}

	.soulignement:hover
	{
		background-size: 100% 100%;
	}
	/*****************************************\
	      animation de zoom sur les menus 	
	\*****************************************/
	.effets:hover
	{
		transform: scale(1.2);
		transition: transform 600ms;
		opacity: 0.4;
	}
	/*****************************************\
	     		 tailles des menus
	\*****************************************/
	.menus
	{
		width: 45%;
		max-width: 535px;
		height: 755px;
		margin: 0;
	}
	.bientot
	{
		width: 650px;
		height: 115px;
	}

	.bientot p
	{
		margin: 0;
		padding: 22px 0px;
		font-size: 3em;
	}
	/****************************************\
			effet point de suspension
	\****************************************/
	.loader
	{
		display: flex;
		padding-left: 5px;

	}
	
	.loader span
	{
		width: 8px;
    	height: 8px;
    	margin: 30px 6px 0px 5px;
		border-radius: 8px;
    	background: #FDCB46;
    	display: block;
    	animation-name: points;
    	animation-duration: 2s;
    	animation-iteration-count: infinite;
    	animation-timing-function: ease-in-out;
	}

	.loader span:nth-child(2)
	{
		animation-delay: 0.3s
	}
	
	.loader span:nth-child(3)
	{
		animation-delay: 0.6s
	}
	
	@keyframes points
	{
		50%{
			opacity: 0;
			transform: scale(0.7) translateY(5px);
		}
	}
	/*****************************************\
	\*****************************************/

	/*****************************************\
	   			 effet wiggle	
	\*****************************************/
	.wiggle:hover
	{
		animation: wiggle 0.9s infinite;
	}
			
	@keyframes wiggle
	{
		0%{transform: translateX(4px);}
		10%{transform: translateX(-4px);}
		20%{transform: translateX(4px);}
		30%{transform: translateX(-4px);}
		40%{transform: translateX(4px);}
		50%{transform: translateX(-4px);}
		60%{transform: translateX(4px);}
		70%{transform: translateX(-4px);}
		80%{transform: translateX(4px);}
		90%{transform: translateX(-4px);}
		100%{transform: translateX(4px);}
	}
	/*****************************************\
	\*****************************************/
	.pied
	{
		width: 100%;
		height: 140px;
		font-size: 3em;
		padding: 35px 30px;
	}
}	