/* couleur backgroup and h2
header et footer fond: 87,156,135
header et footer lettre: 252,202,70

La note enchantée:
Fond: #fde1dd
		rgb 253,225,221
texte: #3c1218
		rgb 60,18,24

Le chic à la française: 
Fond: #fff5fe
		rgb 255,245,254 
Menu: #c77412
		rgb 199,116,18

Le délice des papilles:
fond: #edefef
		rgb 237,239,239
Menu: #0022db
		rgb 0,34,219

La palette du goût:
Fond: #fdfffd
		rgb 253,255,253
Texte: #72bf56
		rgb 114,191,86 

color border top and bottom:
		#a1c181
		rgb 161 193 129
*/
@font-face
{
	font-family: 'devonshire';
	src: url('../ressources/font/Devonshire-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'croissant';
	src: url('../ressources/font/CroissantOne-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'dancing';
	src: url('../ressources/font/DancingScript-Regular.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'kaushan';
	src: url('../ressources/font/KaushanScript-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

body
{
	font-family: Arial, Courier New, Georgia, Times New Roman, Verdana, sans-serif;
	font-size: 1.2em;
	width: 100%;
	height: auto;
	margin: 0;
}	

.header
{	
	width: 100%;
	height: 120px;
	font-size: 1.5em;
	background-color: rgb(87,156,135);
	color: rgb(252,202,70);
	text-align: center;
	margin-bottom: 10%;
	border-bottom: 2px solid #a1c181;
}

h1
{
	width: 100%;
	height: auto;
	margin: 0;
	padding-top: 20px;
}

a
{
	text-decoration: none;
	color: currentColor;
}

.menu
{
	width: 90%;
	margin: auto;
}

.row
{ 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.row,h2
{
	margin-top: 2%;
	font-size: 1.1em;
}

.lien
{
	font-size: 1em;
}

.note /*menu 1*/
{
	background-color: rgb(253,225,221);
	color: rgb(60,18,24);
	text-align: center;
	width: 44%;
	height: 300px;
	margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: devonshire;
}

.chic /*menu 2*/
{
	background-color: rgb(255,245,254);
	color: rgb(199,116,18);
	text-align: center;
	width: 44%;
	height: 300px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin-bottom: 40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: croissant;
}

.delice /*menu 3*/
{
	background-color: rgb(237,239,239);
	color: rgb(0,34,219);
	text-align: center;
	width: 44%;
	height: 300px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin-bottom: 40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: dancing;
}

.palette/*menu 4*/
{
	background-color: rgb(253,255,253);
	color: rgb(114,191,86);
	text-align: center;
	width: 44%;
	height: 300px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin-bottom: 40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: kaushan;
}

.prochainement
{
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 20%;
}

.bientot /* prochainement */
{
	background-color: rgb(87,156,135);
	color: rgb(252,202,70);
	text-align: center;
	width: 40%;
	height: 30px;
	border-radius: 20px;	
}

.bientot p 
{
	font-size: 1em;
	margin: 0;
	margin-top: 1%;
}

.pied /* footer*/
{
	width: 100%;
	height: 50px;
	background-color: rgb(87,156,135);
	color: rgb(252,202,70);
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 10px 20px;
	font-size: 1em;
	/*position: fixed;
	bottom: 0;*/
	border-top: 2px solid #a1c181;
	box-sizing: border-box;
}

/*****css pour l'ensemble des menu ****/

.repas .prix .dessert p
{
	font-size: 0.5em;
	margin: 5px 0px ;
}

ul 
{
	line-height: 2;
	font-size: 0.8em;
	padding: 0 50px;
}

ul li
{
	width: 	100%;
	display: flex;
	justify-content: space-between;
	list-style-type: none;	
}

.repas
{
	text-align: left;
	width: 90%;
}

.prix .dessert
{
	text-align: right;
	width: 10%;
}

.intitule
{
	display: flex;
	justify-content: space-between; 
}

.intitule p
{
	font-size: 0.4em;
	margin: 0; 
	font-weight: bold;
}

.photo
{
	width: 35%;
}

img
{
	width: 100%;
	height: auto;
}

@media all and (min-width: 800px)
{
	main
	{
		width: 1500px;
		height: auto;
		margin: auto;
	}

	.header
	{
		width: 100%;
		height: 245px;
		font-size: 4em;
		text-align: center;
		margin: 0;
	}

	.menu
	{
		width: 100%;
	}

	.titre-menu
	{
		margin-bottom: 80px;
	}

	h2
	{
		margin: 0;
	}

	ul
	{
		padding: 0 120px;
	}

	.note,.delice
	{
		width: 535px;
		height: 755px;
		margin: 100px 50px 45px 165px;
		/*transform: scale(1);
		opacity: 1;
		transition: all 400ms;*/
	    
	}

	.chic,.palette
	{
		width: 535px;
		height: 755px;
		margin: 100px 165px 45px 50px;
	}

	.bientot
	{
		width: 650px;
		height: 115px;
	}

	.bientot p
	{
		margin: 0;
		padding: 22px 0px;
		font-size: 3em;
	}


	.pied
	{
		width: 100%;
		height: 140px;
		font-size: 3em;
		padding: 35px 30px;
	}

	.row
	{ 
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.row,h2
	{
		margin-top: 2%;
		font-size: 1.6em;
	}
	
	.francaise
	{
		font-size: 1.2em;
	}
	.lien
	{
		font-size: 2em;
		margin-top: 5%;
	}
}	